@charset "utf-8";
/* CSS Document */
* {
	font-family: Helvetica, Arial
}
#navbar li a {
	font-family: Arial;
	background: none;
	padding-left: 10px;
	padding-right: 20px;
	color: #C0C0C0
}
#navbar ul a:hover {
	transition: all .4s;
	color: #d0ab7c
}
/*.banner-text{
	position: absolute;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 28px;
    top: 50%;
    margin: -40px auto;
    z-index: 2;
    color: #FFF;
    font-family: "Segoe UI Light";
	text-shadow: 2px 2px 2px #5C5C5C
}*/
.container .row {
	/*	margin: 0px -15px;*/
	background: #fff;
	margin-top: -10px;
	position: relative;
	z-index: 19
}
.row .meet a:hover, .row .know a:hover, .row .love a:hover, .row .some a:hover, .row .one a:hover, .row .like a:hover {
	transition: all .4s;
	text-decoration: none;
	background-image: url(../img/web_hover.png);
	background-repeat: no-repeat;
	background-position: center 78px;
	box-shadow: 0 30px 28px -16px rgba(0, 0, 0, 0.26);
	transform: translate(0, -4px);
	overflow: hidden;
	position: relative;
	z-index: 100;
}

@media screen and (max-width: 550px) {
.container .row .meet a {
	text-decoration: none;
	height: 200px;
	background-image: url(http://image.whitlife.cn/meet.png);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center 80px;
	-webkit-transition: all .2s;
	transition: all .4s;
}
.container .row .know a {
	text-decoration: none;
	height: 200px;
	background-image: url(http://image.whitlife.cn/meet.png);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center 80px;
	-webkit-transition: all .2s;
	transition: all .4s;
}
.container .row .love a {
	text-decoration: none;
	height: 200px;
	background-image: url(http://image.whitlife.cn/meet.png);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center 80px;
	-webkit-transition: all .2s;
	transition: all .4s;
}
.container .row .some a {
	text-decoration: none;
	height: 200px;
	background-image: url(http://image.whitlife.cn/meet.png);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center 80px;
	-webkit-transition: all .2s;
	transition: all .4s;
}
.container .row .one a {
	text-decoration: none;
	height: 200px;
	background-image: url(http://image.whitlife.cn/meet.png);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center 80px;
	-webkit-transition: all .2s;
	transition: all .4s;
}
.container .row .like a {
	text-decoration: none;
	height: 200px;
	background-image: url(http://image.whitlife.cn/meet.png);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center 80px;
	-webkit-transition: all .2s;
	transition: all .4s;
}
}

@media screen and (min-width:550px) and (max-width:5000px) {
.container .row .meet a {
	text-decoration: none;
	height: 300px;
	background-image: url(http://image.whitlife.cn/meet.png);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center 80px;
	-webkit-transition: all .2s;
	transition: all .4s;
}
.container .row .know a {
	text-decoration: none;
	height: 300px;
	background-image: url(http://image.whitlife.cn/meet.png);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center 80px;
	-webkit-transition: all .2s;
	transition: all .4s;
}
.container .row .love a {
	text-decoration: none;
	height: 300px;
	background-image: url(http://image.whitlife.cn/meet.png);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center 80px;
	-webkit-transition: all .2s;
	transition: all .4s;
}
.container .row .some a {
	text-decoration: none;
	height: 300px;
	background-image: url(http://image.whitlife.cn/meet.png);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center 80px;
	-webkit-transition: all .2s;
	transition: all .4s;
}
.container .row .one a {
	text-decoration: none;
	height: 300px;
	background-image: url(http://image.whitlife.cn/meet.png);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center 80px;
	-webkit-transition: all .2s;
	transition: all .4s;
}
.container .row .like a {
	text-decoration: none;
	height: 300px;
	background-image: url(http://image.whitlife.cn/meet.png);
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center 80px;
	-webkit-transition: all .2s;
	transition: all .4s;
}
}

@media (max-width:996px) {
.like {
	height: 300px;
}
.some {
	height: 300px;
}
.one {
	height: 300px;
}
.meet {
	height: 300px;
}
.know {
	height: 300px;
}
.love {
	height: 300px;
}
}

@media(max-width: 550px) {
.like {
	height: 200px;
}
.some {
	height: 200px;
}
.one {
	height: 200px;
}
.meet {
	height: 200px;
}
.know {
	height: 200px;
}
.love {
	height: 200px;
}
}
#banner {
	overflow: hidden
}
.footer-left {
	font-size: 12px;
}
.footer-right {
	font-size: 12px;
}

@media (min-width:320px) {
.footer-left {
	padding: 10px 10px;
}
}

@media (min-width:320px) {
.footer-right {
	padding: 10px 10px;
}
}

@media (min-width:768px) {
.footer-left {
	padding: 20px 10px;
}
}

@media (min-width:768px) {
.footer-right {
	padding: 20px 10px;
}
}

@media (min-width:992px) {
.footer-left {
	padding: 20px 10px;
}
}

@media (min-width:992px) {
.footer-right {
	padding: 20px 10px;
}
}
footer {
	/*padding-right: 15px;
	padding-left: 15px;*/
	margin-right: auto;
	margin-left: auto;
	max-width: 1400px;
	color: #999999;
}

@media (min-width:768px) {
footer {
	width: 750px
}
}

@media (min-width:992px) {
footer {
	width: 970px
}
}

@media (min-width:1400px) {
footer {
	width: 1400px
}
}
